---

---

<section class="client-logos-section">
  <div class="logo-container">
    <h2 class="clients-title">Clients</h2>
    <img src="/images/Mattelsa.svg"/>
    <img src="/images/Gamma.svg"/>
    <img src="/images/Mimverso.svg"/>
    <img src="/images/ITGlobers.svg"/>
    <img src="/images/Germinador.svg"/>
    <img src="/images/CRT.svg"/>
  </div>
</section>

<style>
  .logo-container {
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 2.5rem;
  }

  .logo-container img {
    max-height: 60;
    width: 70px;
    color: white;
  }

  .clients-title {
    color: white;
    font-family: serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    padding-right: 1rem;
  }
</style>