---

---

<section class="client-logos-section">
  <div class="logo-container motion-preset-slide-down motion-delay-[850ms]">
    <h2 class="clients-title ">Clients</h2>
    <img src="/images/Mattelsa.svg" class="Mattelsa motion-preset-slide-left motion-ease-spring-bouncier motion-delay-[1000ms]"/>
    <img src="/images/Simplification.svg" class="Simplification motion-preset-slide-left motion-ease-spring-bouncier motion-delay-[1100ms]"/>
    <img src="/images/Mimverso.svg" class="Mimverso motion-preset-slide-left motion-ease-spring-bouncier motion-delay-[1200ms]"/>
    <img src="/images/ITGlobers.svg" class="ITGlobers motion-preset-slide-left motion-ease-spring-bouncier motion-delay-[1300ms]"/>
    <img src="/images/Germinador.svg" class="Germinador motion-preset-slide-left motion-ease-spring-bouncier motion-delay-[1400ms]"/>
    <img src="/images/CRT.svg" class="CRT motion-preset-slide-left motion-ease-spring-bouncier motion-delay-[1500ms]"/>
  </div>
</section>

<style>

  .CRT {
    width: 95px;
    height: 45px;
  }

  .Mattelsa {
    width: 76px;
    height: 33px;
  }

  .Simplification {
    width: 108px;
    height: 50px;
  }

  .ITGlobers {
    width: 101px;
    height: 33px;
  }

  .logo-container {
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 3rem;
  }

  .logo-container img {
    color: white;
    transition: all 0.3s ease;
  }

  .logo-container img:hover {
    transform:translateY(-5px);
  }

  .clients-title {
    color: white;
    font-family: Ivy Presto Display, 'Ivy Presto Display';
    font-size: 26px;
    font-style: italic;
    font-weight: 100;
    line-height: 36px; /* 138.462% */
  }
</style>