---

---

<section class="client-logos-section">
  <div class="logo-container">
    <h2 class="clients-title">Clients</h2>
    <img src="/images/Mattelsa.svg" class="Mattelsa"/>
    <img src="/images/Simplification.svg" class="Simplification"/>
    <img src="/images/Mimverso.svg" class="Mimverso"/>
    <img src="/images/ITGlobers.svg" class="ITGlobers"/>
    <img src="/images/Germinador.svg" class="Germinador"/>
    <img src="/images/CRT.svg" class="CRT"/>
  </div>
</section>

<style>

  .CRT {
    width: 95px;
    height: 45px;
  }

  .Mattelsa {
    width: 76px;
    height: 33px;
  }

  .Simplification {
    width: 108px;
    height: 50px;
  }

  .ITGlobers {
    width: 101px;
    height: 33px;
  }

  .logo-container {
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 3rem;
  }

  .logo-container img {
    color: white;
  }

  .clients-title {
    color: white;
    font-family: serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    padding-right: 1rem;
  }
</style>